.nav-wrapper{
    font-family: 'Roboto', cursive;    
}
a {
    color: black !important;
}
.brand-logo left
{
  font-family: 'Roboto', cursive;
  color: black !important;
  width: 100%; 
  height: 100%; 
  min-width: 1000px; 
  min-height: 1000px;
}
.cls1{
  margin-top: 40px;
  margin: 30px auto;
  padding: 20px;
  text-align: center;
  border-style: ridge;
  border-color: #b39ddb;
  border-radius: 8px;
  background-color: #eee6fd;
  width: 100%; 
  height: 100%;
  min-width: 1000px; 
  min-height: 1000px;
}
.cls2{
  color: black;
  font-family: 'Roboto', cursive;
  font-size: medium !important;
  width: 100%; 
  height: 100%;
  min-width: 1000px; 
  min-height: 1000px;
}
.input-field input[type=number]:focus {
  border-bottom: 1px solid #b39ddb !important;
  box-shadow: 0 1px 0 0 #b39ddb !important;
}
.input-field input[type=text]:focus {
  border-bottom: 1px solid #b39ddb !important;
  box-shadow: 0 1px 0 0 #b39ddb !important;
}
.bt1{
  padding: 10px 17px;
  text-align: center;
  background-color:#b39ddb;
  color:solid #673ab7;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 2px;
  cursor:pointer;
  transition: 0.5s;
  position: relative;
  overflow: hidden;
  border: none;
  -webkit-box-reflect: below 1px linear-gradient(transparent,#0003);
}
.bt1:nth-child(1){
  filter: hue-rotate(115deg);
}
.bt1:nth-child(3){
  filter: hue-rotate(270deg);
}
.bt1:hover{
  background-color:#673ab7 ;
  color:#e8f5e9;
  box-shadow: 0 0 5px #673ab7 ;
  transition-delay: 0.75s;
}
.bt1:before{
  content: '';
  position: absolute;
  top:0;
  left: 0;
  width: 10px;
  height: 10px;
  border-top: 2px solid #6200ea;
  border-left: 2px solid #6200ea;
  transition: 0.5s;
}
.bt1:hover:before{
  width: 100%;
  height: 100%;
  transition-delay: 0.5s;
}
.bt1:after{
  content: '';
  position: absolute;
  bottom:0;
  right: 0;
  width: 10px;
  height: 10px;
  border-bottom: 2px solid #6200ea;
  border-right: 2px solid #6200ea;
  transition: 0.5s;
  transition-delay: 0.5s;
}
.bt1:hover:after{
  width: 100%;
  height: 100%;
  transition-delay: 0.5s;
}
.bt1:focus{
  background-color: #6200ea;
}
#toast-container {
    top:70px !important;
    right: 50px !important;
    left: 50px !important;
    border-radius: 8px !important ;
    letter-spacing: 2px !important;
    display: 200% !important;
    size: 100% !important;
    border-radius: 8px !important;
}
.cmd1{
  color: #b39ddb;
  background-color: #f3e5f5;
  font-family:'Roboto', cursive;
  width: 100%; 
  height: 100%;
  min-width: 1000px; 
  min-height: 1000px;
}
table {
  border-collapse: collapse; 
  color:black;
  margin-left:auto; 
  margin-right:auto;
  width: 100%; 
  height: 100%; 
  min-width: 1000px; 
  min-height: 1000px;
}
table ,th,tr,td{
  border: 3px solid #b39ddb; 
}
th ,td{
  padding: 7px;  
  text-align: center; 
}
.cls3{
  align-content:center;
}
